*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color:#131313;
}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;

 top:0;
 letter-spacing: 1px;
}
.navbar_container{
    display: flex;
    justify-content:space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin:10px auto;
    padding:0 50px ;
  
 
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar__links{
    color:#e66a45;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar__links:hover{
    color:floralwhite;

}
.logo{
    width: 100px; 
    height: 80px;
    border-radius: 30px;
}
.magnus1{
    
    height: 40%;
    width: 40%;
}
h1{
    color: white;
}
h2{
    color: white;
}
.fabiano1{

    height: 50%;
    width: 50%;
}
.hikaru1{
    
    height: 50%;
    width: 50%;
}
  .active, .not-active{
    position: absolute;
    transition: all 0.5s ease-in-out;
 
  }
 
 .not-active{
   opacity: 0;
 
 }
 .active{
   opacity: 1;
   margin-left: 10%;
 }
 
 @media only screen and (min-width:768px){
     .slider{
         margin-left: 50px;
       width: 800px;
       height: 800px;
     }
     .magnus1{
         height: 500px;
         width: 500px;
     }
     .fabiano1{
        height: 500px;
        width: 700px;
    }
    .hikaru1{
        height: 500px;
        width: 700px;
    }
     
 }