*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    letter-spacing: 1px;
    
}
.navbar_container{
    display: flex;
    justify-content:space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin:10px auto;
    padding:0 50px ;
  
    
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar__links{
    color:#e66a45;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.navbar__links:hover{
    color:floralwhite;

}


.main-content{
  float: left;
  width: 100%;
  max-width: 1220px;
  padding-top:40px;
  margin-left:100px;
  margin-right: 150px;
  margin-bottom:150px;
}
.container {
    top: 50%;
    right:-6%;
    min-height: 270px;
    width: 300px;
   position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transform: translate(-50%,-50%);
    background: #f5f5f5;
    box-shadow: 5px 5px 10px 5px coral;
    margin-top: 150px;
   
  }
  
  .hidden {
    display: none;
  } 
  
  .link-container {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    line-height:50px;
  }
  
  .link-container a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    width: 50%;
    float:left;
    text-align: center;
    padding-top: 10px;
    
    border-bottom: 1px solid grey;
    background: #ddd;
    color: #555;
    cursor:pointer;
  }
  
  .link-container a:first-child {
    border-right: 2px solid grey;
  }
  
  .link-container>a:hover {
    background-color:#e66a45;;
    
  }
  
  .form-style {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }
  
  .form-style label {
    margin-top: 20px;
    font-size: 20px;
    color:c#e66a45;
  }
  
  .form-style .input {
    margin-top: 10px;
    width: 60%;
    position: relative;
    left: 20%;
    border: 0px;
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #c1bdb6;
  }
  
  .forms {
    height: auto;
  }
  
  #submit {
    width: 20%;
    left: 40%;
    background-color: #e66a45;
    margin-bottom: 30px;
  }
   body{
       background-color:#131313;
       font-family: 'Roboto',sans-serif;
   }
   .foto{
       top:100px;
       width: 700px;
       border-radius: 30px;
       margin-top: 50px;
   }
   .logo{
    width: 100px; 
    height: 80px;
    border-radius: 30px;
   
   }
   .footer {
    display: flex;
    position: relative;
    text-align: center;
    width: 30%;
    left: 35%;
    color:#e66a45;
    letter-spacing: 1px;
  
  }
  
  .footer h3 {
    padding: 0;
    margin-bottom:50px;
  }
  .footer i{
      padding-top: 5px;
  }
  .titulli{
      color:#c1bdb6;
      letter-spacing: 1px;
      padding-left:60px;
     
  }
  .titulli:hover{
      color:#e66a45;
     
    
  }