
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color:#131313;

}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
  
    top: 0;
    letter-spacing: 1px;
    
}
.navbar_container{
    display: flex;
    justify-content:space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin:10px auto;
    padding:0 50px ;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar__links{
    color:#e66a45;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover{
    color:#c1bdb6;

}

/*--sector1--*/
.main-content{
    float: left;
    width: 100%;
    max-width: 1220px;
    padding-top:150px;
    margin-left:100px;
    margin-right: 150px;
 

}

.sector1{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 150px;
  
}
.sector1__text{
    width: 50%;
    float: left;
   
}

.sector1__image{
    float:left;
    width: 50%;
    padding-top:125px;
    padding-left: 60px;
 

}
.sector1__image img{
    max-width:500px;
    
    border-radius:20px;
}
.sector1__text h2{
  font-weight: bold;
  font-size: 48px;
  line-height: 1.17em;
  color:#e66a45;
  margin-bottom:10px;
  letter-spacing: 2px;
  
}
.sector1__text h4{
    font-weight: 400;
  font-size: 20px;
  line-height: 1.17em;
  color:#e66a45;
  letter-spacing: 1px;
  margin-bottom: 30px;

}
.sector1__text p{
    font-weight: 300;
font-size: 21px;
line-height: 1.52em;
margin-bottom: 15px;
color: #c1bdb6;
letter-spacing: 1px;

}
 
.sector2{
    float: right;
    width: 100%;
    position: relative;
    margin-bottom: 190px;
  
}
.sector2__text{
    width: 50%;
    float: right;
    padding-right:70px;
 
}

.sector2__image{
    float:left;
    width: 50%;
    padding-top:125px;
    
 

}
.sector2__image img{
    max-width: 450px;
   
    border-radius: 20px;
}
.sector2__text h3{
    font-weight: bold;
    font-size: 48px;
    line-height: 1.17em;
    color:#e66a45;
    margin-bottom: 25px;
    letter-spacing: 2px;
  
}

.sector2__text p{
    font-weight: 300;
font-size: 21px;
line-height: 1.52em;
margin-bottom: 25px;
color: #c1bdb6;
letter-spacing: 1px;

}


.sector3{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 190px;
  
}
.sector3__text{
    width: 50%;
    float: left;
    padding-right:50px;
}

    img {
        max-width: 450px;
   
        border-radius: 20px;
      }
      

.sector3__image{
    float:right;
    width: 50%;
    padding-top:50px;
    padding-left: 30px;

}
.sector3__text h3{
 font-weight: bold;
  font-size: 48px;
  line-height: 1.17em;
  color:#e66a45;
  margin-bottom: 25px;
  letter-spacing: 2px;

}
.sector3__text p{

font-weight: 300;
font-size: 21px;
line-height: 1.52em;
margin-bottom: 25px;
color: #c1bdb6;
letter-spacing: 1px;

}
.sector4{
    float: right;
    width: 100%;
    position: relative;
    margin-bottom: 190px;
  
}
.sector4__text{
    width: 50%;
    float: right;
    padding-right:70px;
    padding-top:50px;
 
}

.sector4__image{
    float:left;
    width: 50%;
    padding-top:25px;
    
 

}
.sector4__image img{
    max-width: 450px;
    border-radius: 20px;
}
.sector4__text h3{
    font-weight: bold;
    font-size: 48px;
    line-height: 1.17em;
    color:#e66a45;
    margin-bottom: 25px;
    letter-spacing: 2px;
  
}

.sector4__text p{
    font-weight: 300;
font-size: 21px;
line-height: 1.52em;
margin-bottom: 25px;
color: #c1bdb6;
letter-spacing: 1px;

}


.logo{
    width: 100px; 
    height: 80px;
    border-radius: 30px;
}

  
  .footer {
    display: flex;
    position: relative;
    text-align: center;
    width: 30%;
    left: 35%;
    color:#e66a45;
    letter-spacing: 1px;
  
  }
  
  .footer h3 {
    padding: 0;
    margin-bottom:50px;
  }
  .footer i{
      padding-top: 5px;
  }