*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
  
    top: 0;
    letter-spacing: 1px;
}
.navbar_container{
    display: flex;
    justify-content:space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin:10px auto;
    padding:0 50px ;
   
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar__links{
    color:#e66a45;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.navbar__links:hover{
    color:#c1bdb6;

}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --white-light: #131313;
    --alice-blue: #131313;
    --carribean-green: #e66a45;
    --gray: #131313;
} 



*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
  
    top: 0;
    letter-spacing: 1px;
}
.navbar_container{
    display: flex;
    justify-content:space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin:10px auto;
    padding:0 50px ;
   
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar__links{
    color:#e66a45;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.navbar__links:hover{
    color:#c1bdb6;

}
body{
    background-color: #131313 !important;
}

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Quicksand', sans-serif;
    }
    
    /* Utility stylings */
    img{
        width: 100%;
        display: block;
    }
    .container{
        width: 88vw;
        margin: 0 auto;
    }
    .lg-title,
    .md-title,
    .sm-title{
        font-family: 'Roboto', sans-serif;
        padding: 0.6rem 0;
        text-transform: capitalize;
    }
    .lg-title{
        font-size: 2.5rem;
        font-weight: 500;
        text-align: center;
        padding: 1.3rem 0;
        opacity: 0.9;
    }
    .md-title{
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
    }
    .sm-title{
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
        color:#c1bdb6;
    }
    .text-light{
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        opacity: 0.5;
        margin: 0.4rem 0;
    }
    
    /* product section */
    .products{
        background: var(--alice-blue);
        padding: 3.2rem 0;
    }
    .products .text-light{
        text-align: center;
        width: 70%;
        margin: 0.9rem auto;
    }
    .product{
        margin: 2rem;
        position: relative;
    }
    .product-content{
       /* background: var(--gray); */
        padding: 3rem 0.5rem 2rem 0.5rem;
        cursor: pointer;
    }
    .product-img{
       /* background: var(--white-light); */
        box-shadow: 0 0 20px 10px var(--white-light);
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        transition: background 0.5s ease;
    }
    .product-btns{
        display: flex;
        justify-content: center;
        margin-top: 1.4rem;
        opacity: 0;
        transition: opacity 0.6s ease;
    }
    .btn-cart, .btn-buy{
        background: transparent;
        border: 1px solid black;
        padding: 0.8rem 0;
        width: 125px;
        font-family: inherit;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        transition: all 0.6s ease;
    }
    .btn-cart{
        background: black;
        color: white;
    }
    .btn-cart:hover{
        background: var(--carribean-green);
    }
    .btn-buy{
        background: white;
    }
    .btn-buy:hover{
        background: var(--carribean-green);
        color: #fff;
    }
    .product-info{
        background: #131313;
        padding: 5px 60px;
    }
    .product-info-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #c1bdb6;
    }
    .rating span{
        color: #e66a45;
    } 
    .product-name{
        color: #c1bdb6;
        display: block;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    .product-price{
        padding-top: 0.6rem;
        padding-right: 0.6rem;
        display: inline-block;
        color:#c1bdb6;
    }
    .product-price:first-of-type{
        text-decoration: line-through;
        color: var(--carribean-green);
    }

    .product-img img{
        transition: transform 0.6s ease;
    }
    .product:hover .product-img img{
        transform: scale(1.1);
    }
    .product:hover .product-img{
        background: var(--carribean-green);
    }
    .product:hover .product-btns{
        opacity: 1;
    }
    .off-info .sm-title{
        background: var(--carribean-green);
        color: white;
        display: inline-block;
        padding: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        z-index: 1;
        letter-spacing: 3px;
        cursor: pointer;
    }
    
    /* product collection */
    .product-collection{
        padding: 3.2rem 0;
    }
    .product-collection-wrapper{
        padding: 3.2rem 0;
    }
    .product-col-left{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-1.jpg") center/cover no-repeat;
    }
    .product-col-r-top{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-2.png") center/cover no-repeat;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50vh;
        padding: 2rem 1.5rem 3.2rem;
        margin: 5px;
    }
    .product-col-r-bottom > div:first-child{
        background: #eaa001;
    }
    .product-col-r-bottom > div:last-child{
        background: #0090ff;
    }
    .product-col-content{
        text-align: center;
        color: white;
    }
    .product-collection .text-light{
        opacity: 1;
        font-size: 0.8;
        font-weight: 400;
        line-height: 1.7;
    }
    .btn-dark{
        background: black;
        color: white;
        outline: 0;
        border-radius: 25px;
        padding: 0.7rem 1rem;
        border: 0;
        margin-top: 1rem;
        cursor: pointer;
        transition: all 0.6s ease;
        font-size: 1rem;
        font-family: inherit;
    }
    .btn-dark:hover{
        background: var(--carribean-green);
    }

    
.logo{
    width: 100px; 
    height: 80px;
    border-radius: 30px;
}
.footer {
    display: flex;
    position: relative;
    text-align: center;
    width: 30%;
    left: 35%;
    color:#e66a45;
    letter-spacing: 1px;
  
  }
  
  .footer h3 {
    padding: 0;
    margin-bottom:50px;
  }
  .footer i{
      padding-top: 5px;
  }

      /*------------------------------*/
      @media screen and (min-width: 992px){
        .product-items{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .product-col-r-bottom{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (min-width: 1200px){
        .product-items{
            grid-template-columns: repeat(3, 1fr);
        }
        .product{
            margin-right: 1rem;
            margin-left: 1rem;
        }
        .products .text-light{
            width: 50%;
        }
    }
    
    @media screen and (min-width: 1336px){
        .product-items{
            grid-template-columns: repeat(4, 1fr);
        }
        .product-collection-wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .flex{
            height: 60vh;
        }
        .product-col-left{
            height: 121.5vh;
        }
    }

  @media only screen and (max-width:750px) and (min-width:200px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
    .footer {
        display: flex;
        position: relative;
        text-align: center;
        width: 30%;
        color:#e66a45;
        letter-spacing: 1px;
        margin-left: 300px;
      
      }
  }